header, nav, main, footer{
    max-width: 75rem;
    margin: auto;
}

.hero{
    p{
        
        padding-left: 2rem;
    }
}

.services{
    flex-wrap: nowrap;
}
footer div{
    grid-template-columns: auto auto auto;

}