header{
    align-items: center;
    padding-bottom: 0;
    font-size: 2rem;
}

.navWrapper{
    padding: 1rem 0;
}

nav{
    button{
        display: none;
    }
    ul, ul.open{
        display: flex;
        justify-content: flex-start;
        font-size: 1.3rem;
        padding: 1rem 0;
        a{
            &:hover{
                color: $primaryColor;
                text-decoration: none;
            }
        }
    }
    li.active{
        background-color: transparent;
        a{
            color: $primaryColor;
        }
    }
}

.hero{
    figcaption{
        font-size: 4rem;
        padding: 1rem;
    }
}

.services{
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
}

#revCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gutter;
}

footer div{
    display: grid;
    grid-template-columns: auto auto;
}