nav {

    ul {

        a{
    
            img{
                display: none;
            }
            span{
                display: block;
                color: $fontColor;
            }
        }
    }

}
