

.headerWrapper{
    grid-row-start: 1;

    header{
        align-items: center;
    }
}
.navWrapper{
    grid-row-start: 2;
    border-top: 2px solid $primaryColor;
    border-bottom: 2px solid $primaryColor;

    nav{
        height: auto;
    
        ul{
            display: flex;
            justify-content: space-evenly;
            li a{
                padding: .5rem 1rem;
            }
        }
    }
}

#hamburger, #closex{
    display: none;
}

.mainWrapper{
    grid-row-start: 3;
}

.footerWrapper{
    grid-row-start: 4;

    footer div{
        display: grid;
        grid-template-columns: auto auto;
    }
}

//for loop to create media queries
@for $i from 1 through 12 {
    $w: calc($i / 12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
 }