/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $defaultFont;
}

.headerWrapper {

    header {
        display: grid;
        grid-template-columns: 75px auto 48px;
        padding: 1rem $gutter;
        align-items: center;
    }
}

.navWrapper{
    background-color: $menuColor;
    position: sticky;
    top: 0;
}

nav {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;

        a{
            display: block;
            text-align: center;
            padding: .75rem;
            text-decoration: none;
    
            img{
                width: 25px;
                height: 25px;
            }
            span{
                padding: .5rem;
                display: none;
            }
        }
    }

    ul li a:hover {
        background-color: lighten($menuColor, 10%);
    }

    li.active a {
        background-color: darken($menuColor, 10%);
    }
}

section{
    height: 100vh;
}



.footerWrapper {
    background-color: $primaryColor;
    margin-top: 2rem;

    footer {
        padding: 1rem $gutter;
        text-align: center;

        p {
            margin: 0;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: .8rem;
            font-weight: $lightWeight;
        }
    }
}