/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    background-color: $secondaryColor;
}

.headerWrapper {
    background-color: $secondaryColor;
    grid-row-start: 1;

header {
    padding: 1rem $gutter;
    display: flex;
    justify-content: space-between;
}


nav {

    button {
        background: transparent;
        color: $fontColor;
        border: none;
        padding: .5rem;
        font-size: 2rem;
        top: 0;
        right: 0;
    }

    button span:nth-child(1) {
        display: block;
    }
}

.navWrapper{
    grid-row-start: 4;

    nav {
        height: 100vh;
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            background-color: $secondaryColor;
        }
    
        a {
            display: block;
            padding: .5rem .5rem .5rem 1rem;
            text-decoration: none;
            color: $fontColor;
            font-weight: $boldWeight;
            text-align: right;
    
            &:hover {
                text-decoration: underline;
                text-decoration-color: $primaryColor;
            }
        }
    
        li.active {
            background-color: $primaryColor;
            a{
                color: $secondaryColor;
            }
        }
    }
}

div#hamburger a, div#closex a{
    display: block;
    text-decoration: none;
    color: $fontColor;
    font-weight: $boldWeight;
    font-size: 2rem;
    text-align: right;
}

div#closex a{
    padding: .5rem 2vw;
}

.mainWrapper{
    grid-row-start: 2;

    main{
        padding: 1rem 2vw;

        .mainForm{

           fieldset{
                border: 2px solid $primaryColor;
                margin: 1rem 0;

                legend{
                    padding: 0 .5rem;
                    font-size: .9rem;
                    color: $primaryColor;
                }
           } 
           label{
               display: block;
               margin: .5rem 0;
               font-size: .8rem;
           }

           input[type=text], input[type=email], input[type=tel], input[type=password], input[type=date], select{
               display: block;
               padding: .5rem;
               border: 1px solid $primaryColor;
               border-radius: 5px;
               font-size: .8rem;
               font-weight: $lightWeight;
               width: 50%;
           }

            button{
               display: block;
               margin: 1rem 0;
               padding: .5rem;
               border: 1px solid $primaryColor;
               border-radius: 5px;
               font-size: .9rem;
               font-weight: $lightWeight;
               background-color: $primaryColor;
               color: $secondaryColor;
           }

           input:required{
                border-left: 4px solid red;
           }
           input:required:valid{
                border-left: 4px solid $primaryColor;
           }
        }
    }
}

.footerWrapper {
    grid-row-start: 3;
    background-color: $primaryColor;
    color: white;
    padding: .5rem 0 .3rem 0;
    margin-top: 1rem;
    text-align: center;
}

//for loop to create media queries
@for $i from 1 through 12 {
    $w: calc($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
 }