/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    background-color: $secondaryColor;
}

.headerWrapper {
    background-color: $secondaryColor;
}

header {
    padding: 1rem $gutter;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .number {
        text-decoration: none;
        color: $fontColor;
        font-weight: $boldWeight;
        font-size: 1.3rem;

        &:hover {
            color: $primaryColor;
        }
    }
}


nav {

    button {
        background: transparent;
        color: $fontColor;
        border: none;
        padding: .5rem;
        font-size: 1.5rem;
    }

    button span:nth-child(1) {
        display: block;
    }

    button span:nth-child(2) {
        display: none;
    }

    button.open span:nth-child(1) {
        display: none;
    }

    button.open span:nth-child(2) {
        display: block;
    }

    ul {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        text-align: left;
    }

    ul.open {
        display: block;
    }

    a {
        display: block;
        padding: .5rem .5rem .5rem 1rem;
        text-decoration: none;
        color: $fontColor;
        font-weight: $boldWeight;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $primaryColor;
        }
    }

    li.active {
        background-color: $primaryColor;
    }
}

.hero {
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    figcaption {
        position: absolute;
        padding: .5rem;
        bottom: 0;
        color: white;
        font-weight: $lightWeight;
        font-size: 2.5rem;
    }
}

main p {
    padding: 0 $gutter;
    font-size: 1.3rem;
    line-height: 1.5;
}

.services {
    padding: 0 $gutter;
    margin: 1rem 0;

    .card {
        border: $primaryColor solid 2px;
        padding: 1rem;
        margin: 2rem 0;
        flex: 1 1 20rem;
        text-align: center;
        border-radius: 5px;


        img {
            font-size: 5rem;
            margin-bottom: 1rem;

            //animation
            &:hover {
                animation: myBounce 1s infinite;
            }
        }
    }

    svg {
        margin-bottom: 1rem;

        //animation
        &:hover {
            animation: myBounce 1s infinite;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: $lightWeight;
    }

    p {
        font-size: 1rem;
        margin: 2rem 0;
        text-align: left;
    }

    a {
        text-decoration: none;
        color: $secondaryColor;
        font-weight: $boldWeight;
        padding: 1rem;
        border-radius: 5px;
        background-color: $primaryColor;
        margin: 1rem 0;
        display: inline-block;

        &:hover {
            background-color: $secondaryColor;
            color: $primaryColor;
        }
    }
}

//animation
@keyframes myBounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.reviews{
    padding: 0 $gutter;

    #revCards{
        
        div{
            border: 2px solid $primaryColor;
            margin-bottom: 1rem;
            h3{
                text-align: center;
            }
            section{
                text-align: center;
            }
            p{
                font-size: 1rem;
            }

        }
        div img{
            width: 20px;
        }
    }
}

.mainFooter {
    background-color: $primaryColor;
    color: white;
    padding: .5rem 0 .3rem 0;
    margin-top: 1rem;
    text-align: center;
}