$primaryColor: #4B5659;
$secondaryColor: #6B848C;
$fontColor: #0D0D0D;

$defaultFont:'Mohave', sans-serif;
$headingFont:'Quicksand', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;