$primaryColor: #1E3040;
$secondaryColor: #C9E7F2;
$fontColor: black;

$headingFont: 'Libre Baskerville', serif;
$defaultFont: 'Assistant', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;