$primaryColor: #154823;
$secondaryColor: #F2F2F2;
$fontColor: #0D0D0D;

$defaultFont:'Nunito', sans-serif;
$headingFont:'Bitter', serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;